@font-face {
    font-family: "Poppins";
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
}



body{
    font-family: "poppins";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mode{
    display: flex;
    justify-content: flex-end;
}

.GlobTudolist{

    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;

}

.btnAction{

    display: flex;
    flex-direction: column;
    justify-content: right;

}